extends layout

block content
  h1= "plantbud // " + title
  if errors
    b There were errors:
    ul
      for error in errors
        li!= error.msg
  if success
    p Login successful.
  else
    div.row
      div.col-md-2
      div.col-md-6
        form(method='POST' action='')
          div.form-group
            label(for='email') Email:
            input#lat.form-control(type='text', placeholder='jon@doe.com' name='email' value=(undefined===email ? '' : email))
          div.form-group
            label(for='password') Password:
            input#lon.form-control(type='password' name='password' placeholder='****')
          button.btn.btn-primary(type='submit') Submit
      div.col-md-4
