body {
  padding: 50px;
  font-family: "Executive", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
  font-size: 16px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  color: #00638a;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.hide {
  display: none;
}

.plan {
  padding-left: 20px;
  list-style: none;
}

.plan > li:before {
  content: "–"; /* en dash here */
  position: absolute;
  margin-left: -1.1em; 
}

#locate-error {
  color: red;
  text-align: right;
}

#map-canvas {
  width: auto;
  height: 600px;
}

canvas[resize] {
  width: 100%;
  height: 600px;
}

@font-face {
  font-family: "Executive";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/executive-regular.eot");
  src: url("/fonts/executive-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/executive-regular.woff") format("woff"), url("/fonts/executive-regular.ttf") format("truetype"), url("/fonts/executive-regular.svg#Executive") format("svg"); }

@font-face {
  font-family: "Executive";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/executive-italic.eot");
  src: url("/fonts/executive-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/executive-italic.woff") format("woff"), url("/fonts/executive-italic.ttf") format("truetype"), url("/fonts/executive-italic.svg#Executive") format("svg"); }

@font-face {
  font-family: "Executive";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/executive-medium.eot");
  src: url("/fonts/executive-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/executive-medium.woff") format("woff"), url("/fonts/executive-medium.ttf") format("truetype"), url("/fonts/executive-medium.svg#Executive") format("svg"); }

